{% extends 'base.html' %}

{% block meta %}
<title>{{ application }}</title>
{% endblock meta %}

{% block content %}
<h1>{{ application }}</h1>

<h2>Welcome to {{ app }}, {{current_username}}</h2>

<h3>My Student Information:</h3>
<ul>
    <li>Name: {{ name }}</li>
    <li>Student ID: {{ NPM }}</li>
    <li>Class: {{ class }}</li>
</ul>

{% if not it_entries %}
<p>Belum ada data item pada simple pbp shop.</p>
{% else %}
<table>
    <tr>
        <th>Item Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Stocks</th>
        <th>User</th>
    </tr>
    {% for it_entry in it_entries %}
    <tr>
        <td>{{it_entry.name}}</td>
        <td>{{it_entry.price}}</td>
        <td>{{it_entry.description}}</td>
        <td>{{it_entry.stocks}}</td>
        <td>{{it_entry.user.username}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_item_entry' %}">
    <button>Add New Item Entry</button>
</a>

<h5>Sesi terakhir login: {{ last_login }}</h5>
{% endblock content %}